{% extends 'logged-in-navbar.html' %}
{% load static %}

{% block meta-2 %}
    <style>
        body {
            background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85) ), url(https://thedesignconcept.co.uk/media/33140/wezembeek-oppem_public_library_be_018.jpeg?anchor=center&mode=crop&width=900&height=600&rnd=133004434850000000);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 70vh;
        }

        .footer {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-top: 20px; 
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px; 
            justify-content: center; 
        }

        .card{
            margin-bottom: 50px;
            margin-top: 20px;
        }


    </style>
{% endblock meta-2 %}

{% block content-2 %}
    <div style="margin-top: 80px;" class="mx-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Notes</button>
        <a href="{% url 'wishlist:show_notes' %}" class="btn btn-primary">View Notes</a>
    </div>

    <div id="wishlist-items" class="row justify-content-center">
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Notes</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="notes" class="col-form-label">Notes:</label>
                            <textarea class="form-control" id="notes" name="notes"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Notes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function getWishlistItems() {
            return fetch("{% url 'wishlist:get_wishlist_items' %}").then((res) => res.json());
        }

        async function refreshWishlist() {
            const cardContainer = document.getElementById("wishlist-items");
            cardContainer.innerHTML = "";

            const books = await getWishlistItems();
            console.log(books)
            

            books.forEach((book) => {
                cardContainer.innerHTML += `
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 400px;">
                            <img src="${book.image_url_l}" class="card-img-top" alt="${book.book_title}" style="max-height: 400px;">
                            <div class="card-body">
                                <h5 class="card-title">${book.book_title}</h5>
                                <p class="card-text">Author: ${book.book_author}</p>
                                <p class="card-text">Year of Publication: ${book.year_of_publication}</p>
                                <p class="card-text">Publisher: ${book.publisher}</p>
                                <button class="btn btn-danger" onclick="deleteItem(${book.pk})">Delete</button>

                            </div>
                        </div>
                    </div>`;
            });
        }   

        refreshWishlist();

        function deleteItem(bookId) {
            fetch(`{% url 'wishlist:delete_book' 0 %}`.replace("0", bookId), {
                method: "POST"
            }).then(refreshWishlist);
        }

        function addNotes() {
            fetch(`{% url 'wishlist:add_notes' %}`, {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshWishlist);

            document.getElementById("form").reset();
            return false;
        }
        document.getElementById("button_add").onclick = addNotes


        $(document).ready(function () {
            refreshWishlist();
        });
    </script>

    <div class="footer">
        &copy; 2023 PageTurner. All rights reserved.
    </div>
{% endblock content-2 %}
