{% extends 'logged-in-navbar.html' %}
{% load static %}

{% block meta-2 %}
{% endblock meta-2 %}

{% block content-2 %}
    <div class="container mx-3">
        <div class="container-auto">
            <div class="row justify-content-center py-5">
                <div class="col-4">
                    <img src="{{ book.image_url_l }}" style="width: 400px; height: 500px;" alt="...">
                </div>
                <div class="col-5 mx-5">
                    <h1 style="font-family: 'LeagueSpartan Medium'; letter-spacing: 3px;">{{ book.book_title }}</h1>
                    <h1 id="heading-2">{{ book.book_author }}</h1>
                    <h4 id="heading-2">ISBN: {{ book.isbn }}</h1>
                    <h4 id="heading-2">Year: {{ book.year_of_publication }}</h1>
                    <h4 id="heading-2">Publisher: {{ book.publisher }}</h1>
                </div> 
                <div class="col-1">
                    <form method="POST" action="{% url 'wishlist:add_to_wishlist' book.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Add to Wishlist</button>
                    </form>
                    <a href="{% url 'daftar_belanja:add_to_cart' book.id %}">
                        <button type="button" class="btn btn-outline-success px-4 mb-3">Add to Cart</button>
                    </a>
                    {% if delete == True %}
                        <a href="{% url 'katalog_buku:delete_book_katalog' book.id %}">
                            <button>Delete Book</button>
                        </a>
                    {% endif %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Add to Library
                        </button>
                        <ul class="dropdown-menu">
                            {% for rak in user_rak %}
                                <li>
                                    <a href="{% url 'katalog_buku:add_book_to_rak' id=book.pk rak_id=rak.pk %}" style="text-decoration: none; color: inherit">
                                        <button type="button" class="dropdown-item button_add">{{ rak.name }}</button>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

            <div class="mt-5">
                <a href="{% url 'review:show_reviews_by_book_id' book.pk %}">
                    <button type="button" class="btn btn-outline-warning px-4 mb-3 text-dark">See Ratings & Reviews</button>
                </a>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content-2 %}